<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Split Bill</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Split Bill</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid fixed="true">
    <ion-row>
      <ion-col>
        <ion-text color="primary">
          <h2>Enter Bill Details</h2>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list [inset]="true">
          <ion-item>
            <ion-input label="Item Name" labelPlacement="stacked" placeholder="Enter item name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Price" labelPlacement="stacked" placeholder="Enter price"></ion-input>
          </ion-item>
        </ion-list>
        <ion-list [inset]="true">
          <ion-select label-placement="fixed" placeholder="Please select a person" fill="outline">
            <div slot="label">Paid by <ion-text color="danger">*</ion-text></div>
            <ion-select-option value="Member A">Member A</ion-select-option>
            <ion-select-option value="Member B">Member B1111</ion-select-option>
            <ion-select-option value="Member C">Member C22</ion-select-option>
          </ion-select>
        </ion-list>
        <ion-list [inset]="true">
          <ion-list-header>
            <ion-label>Split To</ion-label>
          </ion-list-header>
          <ion-item>
            <ion-checkbox label-placement="end" justify="start">Member A</ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-checkbox label-placement="end" justify="start">Member B</ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-checkbox label-placement="end" justify="start">Member C</ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="Proceed">
      <ion-col>
        <ion-button size="large">
          Proceed
          <ion-icon slot="end" name="cash"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
